body{
    background-image: url("back.jpg");
    background-size: cover;
    /* opacity: 0.5; */
}


.header{
    background-color: black;
    height: 100px;
    width: 100%;
    font-weight: 30px;
    font-size: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 50px;
    margin: 0px 0px;

}


.container {
    border: 2px solid rgb(255, 255, 255);
    margin: 30px;
    text-align: center;
    height: 200px;
    width: 300px;
    align-items: center;
    display: grid;
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    margin-left: 38px;
    overflow: auto;
    position: relative;
    color: white;
}

.container:hover{
    background-color: antiquewhite;
    color: black;
}





.button{
    /* margin-top: 140px; */
    position: absolute;
    bottom: 10px;
    left: 100px;
    right: 100px;
    border-radius: 20px;

}

.button:hover{
    border: 2px solid black;
}


.button.active{
    background-color: green;
}



.footer{
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;

}






